BRAINOS_HOST=127.0.0.1
BRAINOS_PORT=8765
BRAINOS_DEFAULT_MODEL=Qwen/Qwen2.5-0.5B-Instruct
BRAINOS_MAX_NEW_TOKENS_DEFAULT=128
BRAINOS_MAX_PROMPT_TOKENS=1024
BRAINOS_DEVICE=auto
BRAINOS_DTYPE=auto
BRAINOS_CAPTURE_INTERVAL_MS=500
BRAINOS_REPLAY_DIR=./replay_sessions
# HF_HOME=./models/hf
